@{
    var book = "";
    var chapter = "";
    var verse = "";
    var text = "";
    var notes = "";
    var scriptureId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            scriptureId = Request.QueryString["ID"];
            var db = Database.Open("Scriptures");
            var dbCommand = "SELECT * FROM Scriptures WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, scriptureId);
            if (row != null)
            {
                book = row.Book;
                chapter = row.Chapter;
                verse = row.Verse;
                text = row.Text;
                notes = row.Notes;
            }
            else
            {
                Validation.AddFormError("No scripture was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No scripture was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        scriptureId = Request.Form["scriptureId"];
        var db = Database.Open("Scriptures");
        var deleteCommand = "DELETE FROM Scriptures WHERE ID = @0";
        db.Execute(deleteCommand, scriptureId);
        Response.Redirect("~/Scriptures");
    }
}
<html>
<head>
    <title>Delete a Scripture</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

    <header>
        <h1>The Scripture app</h1>
    </header>

    <h1>Delete a Scripture</h1>
    @Html.ValidationSummary()
    

    <form method="post" class="dark-matter">
        <fieldset>
            <legend>Movie Information</legend>

            <p>
                <span>Book:</span>
                <span>@book</span>
            </p>

            <p>
                <span>Chapter:</span>
                <span>@chapter</span>
            </p>

            <p>
                <span>Verse:</span>
                <span>@verse</span>
            </p>

            <p>
                <span>Text:</span>
                <span>@text</span>
            </p>

            <p>
                <span>Notes:</span>
                <span>@notes</span>
            </p>

            <input type="hidden" name="scriptureId" value="@scriptureId" />
            <p><input type="submit" name="buttonDelete" value="Delete Scripture" class="button"/></p>
        </fieldset>
        <p><a href="~/Scriptures">Return to scripture listing</a></p>
    </form>
</body>
</html>